In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf
import matplotlib.pyplot as plt
from datetime import datetime

In [136]:
df = pd.read_csv('../datasets/weather/summary.csv')
df.head()

,DATE,TEMPERATURE (째C),WIND (m/s),WIND DIR (째),HUMIDITY (%),PRESSURE (hPa)
0,2014-01-01 00:00:00,3.7,2.7,270.0,77.0,1008.7
1,2014-01-01 01:00:00,2.9,1.2,270.0,78.0,1009.1
2,2014-01-01 02:00:00,-0.1,0.1,0.0,90.0,1009.3
3,2014-01-01 03:00:00,-1.5,0.7,140.0,94.0,1009.4
4,2014-01-01 04:00:00,-1.5,0.5,20.0,94.0,1009.4

In [137]:
df_without_date = df.drop(columns='DATE')

In [115]:
ap_df = pd.read_csv('../datasets/air_pollution_suwon/summary.csv')